NEXT_PUBLIC_SUPABASE_URL=https://ypgygjciayfjqvqtrvtz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZ3lnamNpYXlmanF2cXRydnR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxODQ2MzUsImV4cCI6MjA5OTc2MDYzNX0.DtYPGnoRlHG5frh5ZXiFsf6o6rhUxllp940Yfp_weFc
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api

