PORT=4000
SUPABASE_URL=https://ypgygjciayfjqvqtrvtz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZ3lnamNpYXlmanF2cXRydnR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDE4NDYzNSwiZXhwIjoyMDk5NzYwNjM1fQ.FzM5JZl8aK1AdvrsH_a5uUCV-RGJfEUJcujLoUmup58

